.skeleton-box {
    border-radius: 20px;
  }
  
  .skeleton-post-body {
    padding: 15px 15px !important;
  }
  
  .skeleton-image {
    background-color: hsl(210, 11%, 93%);
    padding: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .skeleton-topic {
    background-color: hsl(210, 11%, 93%);
    padding: 15px;
    border-radius: 10px;
  }
  
  .skeleton-profile {
    background-color: hsl
}