.title{
    font-size: 50px !important;
}

.youtube-videos img{
    height: 200px;
    object-fit: cover;
}

.youtube-videos .card {
    height: 100%;
    margin-bottom: 10px;
}

.youtube-videos .card-body {
    padding-bottom: 0;
}

