.search-filter{
  display: flex;
  justify-content: end;
}

.search-bar{
  max-width: 350px;
}

.input-group{
  margin-top: 10px;
  margin-bottom: 15px;
}

hr {
  margin:0 !important;
}

.filter-container{
  margin-top:150px;
  margin-bottom: 100px;
}

.btn-checkbox {
  padding-left: 40px;
  line-height: 1.7;
}

.mentors-table {
    height: 850px;
    overflow-y: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    display: none;
}

.mentors-table table {
  margin: 5px !important;
}

.mentors-table table th {
  text-align: center !important;
}

.mentors-table td,
.mentors-table th {
  border-top: 1px solid #eeeeee;
  text-align: left;
  padding: 8px;
}

.mentees-table {
  height: 850px;
  overflow-y: auto;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  display: none;
}

.mentees-table table {
  margin: 5px;
}

.mentees-table table th {
  text-align: center;
}

.mentees-table td,
.mentees-table th {
  border-top: 1px solid #eeeeee;
  text-align: left;
  padding: 8px;
}

.university-filter {
  display: none;
}

.no-results-page{
  height: 850px;
  margin-top: 50px;
  text-align:center;
}

.no-results-icon{
  font-size: 150px;
  color: rgb(215, 215, 215);
}

.no-results-text{
  margin-top: 10px;
  font-size: 30px;
  color: rgb(215, 215, 215);
}

.university-filter-scroller{
  max-height: 350px; 
  overflow-y: auto;
  overflow-x: hidden;
}

.university-label{
  text-align: left; 
  width: 160px;
  word-wrap: break-word;
  white-space: pre-line;
}

#mentorProfiles:hover {
  cursor: pointer;
}

#menteeProfiles:hover {
  cursor: pointer;
}

.linkedin{
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .row {
    display: block;
  }
  .filters {
    width: 100%;
  }
  .filters.col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .table {
    width: 100%;
  }
  .table.col-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .university-filter-scroller{
    max-height: 260px;
  }
  .search-filter {
    justify-content: start;
  }
  .filter-container{
    margin-top:10px;
  }
  .mb-5{
    margin-bottom: 1.5rem !important;
  }
  .container {
    width: 95% !important;
  }
}

@media (min-width: 768px){
  .description {
    max-width: 100%;
  }
  .image{
    max-width: 100%;
  }
}

.loader {
  margin: auto;
  border: 10px solid #EAF0F6;
  border-radius: 50%;
  border-top: 10px solid rgb(215, 215, 215);
  width: 75px;
  height: 75px;
  animation: spinner 4s linear infinite;
}

.loadingAnimationPage{
  height: 850px;
  margin-top: 100px;
  text-align:center;
}

.loading-text{
  margin-top: 30px;
  font-size: 20px;
  color: rgb(215, 215, 215);
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 768px){
  .contact-us{
    display: flex !important;
  }
}
