.search-filter{
  display: flex;
  justify-content: end;
}

.search-bar{
  max-width: 350px;
}

.input-group{
  margin-top: 10px;
  margin-bottom: 15px;
}

hr {
  margin:0 !important;
}

.filter-container{
  margin-top:150px;
  margin-bottom: 200px;
}

.btn-checkbox {
  padding-left: 40px;
  line-height: 1.7;
}

.mentors-table {
    height: 850px;
    overflow-y: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

.mentors-table table {
  margin: 5px !important;
}

.mentors-table table th {
  text-align: center !important;
}

.mentors-table td,
.mentors-table th {
  border-top: 1px solid #eeeeee;
  text-align: left;
  padding: 8px;
}

.mentees-table {
  height: 850px;
  overflow-y: auto;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  display: none;
}

.mentees-table table {
  margin: 5px;
}

.mentees-table table th {
  text-align: center;
}

.mentees-table td,
.mentees-table th {
  border-top: 1px solid #eeeeee;
  text-align: left;
  padding: 8px;
}

.university-filter {
  display: none;
}

.no-results-page{
  height: 850px;
  margin-top: 50px;
  text-align:center;
}

.no-results-icon{
  font-size: 150px;
  color: rgb(215, 215, 215);
}

.no-results-text{
  margin-top: 10px;
  font-size: 30px;
  color: rgb(215, 215, 215);
}

.university-filter-scroller{
  max-height: 350px; 
  overflow-y: auto;
  overflow-x: hidden;
}

.university-label{
  text-align: left; 
  width: 160px;
  word-wrap: break-word;
  white-space: pre-line;
}

#mentorProfiles:hover {
  cursor: pointer;
}

#menteeProfiles:hover {
  cursor: pointer;
}
