/*Add custom styles for the scholarx 2020 page here*/
.timeline {
    list-style-type: none;
    position: relative;
    color: #3b53de;
}
.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.hover-profile-card .img {
    cursor: pointer;
}

.featured-story img{
    height: 200px;
    object-fit: cover;
}

.featured-stories .card {
    height: 100%;
    margin-bottom: 10px;
}

.featured-story .card-body {
    padding-bottom: 0;
}

.featured-story .card-footer .stats i {
    padding-top: 3px;
    padding-right: 5px;
}

.featured-story .card-footer {
    font-size: 0.9em;
    padding-top: 0;
}

.featured-story .author span{
    color: #6f81a4;
    padding-left: 4px;
    padding-top: 4px;
}

.past-section{
    background-color: #f8fdff
}

