/*Add custom styles for the scholarx 2020 page here*/
.timeline {
    list-style-type: none;
    position: relative;
    color: #3b53de;
}
.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.hover-profile-card .img {
    cursor: pointer;
}

.featured-story img{
    height: 200px;
    object-fit: cover;
}

.featured-stories .card {
    height: 100%;
    margin-bottom: 10px;
}

.featured-story .card-body {
    padding-bottom: 0;
}

.featured-story .card-footer .stats i {
    padding-top: 3px;
    padding-right: 5px;
}

.featured-story .card-footer {
    font-size: 0.9em;
    padding-top: 0;
}

.featured-story .author span{
    color: #6f81a4;
    padding-left: 4px;
    padding-top: 4px;
}

.past-section{
    background-color: #f8fdff
}

.center-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card-modal {
    width: 800px;
    height: 440px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h1 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 250px;
    height: 100%;
    background: linear-gradient(#a2a1f0, #a8a7f7);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.additional-text{
    top: 50px;
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 250px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 540px;
    float: left;
    position: absolute;
    left: 260px;
    height: 100%;
    color: #fff;
}

.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card .general {
    width: 540px;
    height: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
    margin-bottom: 50px;
}

.card .general h1{
    font-weight: bold;
}

.social{
    margin-right: 40px;
}
.social-media{
    margin-left: 200px;
    margin-top: 180px;
}

