# This is the work flow to generate preview links for Pull Requests
name: PR-Preview-Generator
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Using Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Installing Surge
        run: npm i -g surge
      - name: Deploying on Surge
        env:
          SURGE_LOGIN: sustainableedufoundation@gmail.com
          SURGE_TOKEN: 4f75270ec1d0e4d48c5ecc3959f9d888
          DEPLOY_DOMAIN: https://pr-${{ github.event.number }}-sef-site.surge.sh
        run: surge ./ $DEPLOY_DOMAIN --token $SURGE_TOKEN
